body{
    background: white;
    color: black;
    width: 600px;
    margin: auto;
}

article + article{
    margin-top: 3rem;
    padding-top: 20px;
    border-top: brown solid 1px;
}

article{
    font-family: sans-serif;
}

.author{
    color: green;
}